body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}

h1{
    font-size: 50px;
}

.orange-color{
    color: orange;
}

.flex-display{
    display: flex;
    margin-bottom: 100px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.text{
    margin-top: 20px;
    margin-left: 80px;
}

.half-width{
    width: 50%;
}

.half-width img{
    width: 76%;
    margin-top: 70px;
    margin-left: 70px;
}

.button{
    text-decoration: none;
    background-image: linear-gradient(salmon, rgb(219, 91, 77));
    padding: 10px 40px;
    border-radius: 6px;
    color: white;
    font-weight: 800;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.down{
    margin-top: 60px;
    margin-right: 100px;
}

h2{
    font-size: 35px;
}

.box{
    width: 35%;
    padding-left: 5%;
    box-shadow: 10px 10px 40px rgb(102, 98, 98);
    border-radius: 10px;
    margin: 0px 5%;
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 200px;
    margin-bottom: 150px !important;
}

.full{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, rgb(219, 91, 77));
    border-image-slice: 1;
}

.baby{
    border-left: 7px solid;
    border-image: linear-gradient(blue, rgb(17, 204, 179));
    border-image-slice: 1;
}

footer{
    text-align: center;
}

footer a{
    text-decoration: none;
    color:black
}